/* custom properties  */

:root {
	--font-color: #e2e8f0;
	--hover-color: #6f92da;
	--background-color: rgba(15, 23, 42, 1);
}

/* App component */
.app {
	display: flex;
	margin: 10rem 10rem 1.25rem 10rem;
}

.hero {
	margin-left: 45%;
}

/* Header Component */
.Header {
	position: relative;
}

.Header__specs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;
	position: fixed;
}

.Header__specs__title {
	white-space: nowrap;
	font-size: 3rem;
	font-weight: 800;
}

.Header__specs__job-title {
	white-space: nowrap;
	font-size: 1.5rem;
}

/* NavItems Component */

.navigation {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.25rem;
	gap: 1rem;
}

.line {
	background-color: var(--hover-color);
	width: 25px;
	height: 5px;
	transform: translateX(-40px) translateY(35px);
}

.navigation__menu > a {
	color: var(--font-color);
	transition: color 0.25s ease-in;
}

.navigation__menu > a:hover {
	color: var(--hover-color);
}

/* SocailMedia Component */

.social-media {
	font-size: 1.5rem;
	display: flex;
	gap: 2rem;
	padding-left: 0;
}

.fa-brands,
.fa-solid {
	color: #e2e8f0;
	font-size: 2.5rem;
	transition: color 0.25s ease;
}

.fa-brands:hover,
.fa-solid:hover {
	color: var(--hover-color);
}

/* Main Component */

.main {
	max-width: 700px;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 2rem;
	margin-top: 2rem;
}

.main__cover-letter > * {
	margin-bottom: 1.5rem;
}

.main-paragraph {
	transition: transform 0.25s ease;
}

.main-paragraph:hover {
	transform: scale(1.1);
	cursor: default;
}

/* Projects Component */
.projects-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	font-size: 1.125rem;
	font-weight: 300;
}

.projects {
	display: flex;
	padding: 2rem;
	flex-direction: column;
	align-items: center;
	min-width: 300px;
	outline: 2px solid transparent;
	border-radius: 10px;
	transition: all 0.25s ease;
}

.projects-title {
	margin-top: 10rem;
	margin-bottom: 3rem;
	font-size: 1.75rem;
}

.projects:hover {
	outline: 2px solid var(--hover-color);
	/* background-color: var(--hover-color); */
}

.projects__img {
	margin-bottom: 1rem;
	max-width: 100%;
}

.projects__buttons {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: left;
}

.projects__button {
	color: #e2e8f0;
	font-size: 0.95rem;
	background: var(--background-color);
	border: 1px solid rgb(17, 32, 68);
	padding: 0.2rem 0.5rem;
	border-radius: 10px;
}

.projects__button {
	cursor: pointer;
}

/* Contact component */

.contact {
	font-size: 1.5rem;
}

.contacts {
	padding-left: 0;
	display: flex;
	gap: 2.5rem;
	font-size: 2rem;
}

.contact__title {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

@media (max-width: 1150px) {
	html {
		font-size: 14px;
	}

	.hero {
		max-width: 500px;
	}

	.app {
		display: flex;
		margin: 5rem 3rem;
	}

	.projects-section {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	.line {
		transform: translateX(-40px) translateY(32px);
	}
}

@media (max-width: 800px) {
	html {
		font-size: 12px;
	}

	.app {
		display: block;
		margin: 5rem 3rem;
	}

	.Header__specs {
		position: relative;
	}

	.hero {
		margin-left: initial;
	}

	.main {
		width: initial;
	}

	.contact {
		text-align: center;
	}

	.contacts {
		justify-content: center;
	}

	.line {
		transform: translateX(-40px) translateY(29px);
	}
}
