/*                      */
/*        Reset         */
/*                      */

/* Box sizing */

*,
*::after,
*:before {
	box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
	margin: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: #e2e8f0;
}

/* Set up the body */

body {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
	background: rgb(17, 32, 68);
	background: linear-gradient(
		310deg,
		rgba(17, 32, 68, 1) 0%,
		rgba(15, 23, 42, 1) 100%
	);
	line-height: 1.5;
	min-height: 100vh;
	color: #e2e8f0;
}

/* make images easier to work with */

img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with  */

input,
button,
textarea,
select {
	font: inherit;
}

/* remove animation for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01 !important;
		scroll-behavior: auto !important;
	}
}

ul {
	list-style-type: none;
}
